.about-banner {
  display: flex;
  p {
    font-size: 1em;
    width: 90%;
    padding-left: 1em;
  }

  img {
    width: 30%;
  }
}

.about-landing p {
  width: 75%;
  font-size: 1em;
  line-height: 22px;
}

.values-logo {
text-align: right;
}

.values {
  display: flex;
  text-align: center;

  p {
    font-size: 0.75em;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 2em;
  }

  h4 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 300;
  }

  .value-1, .value-3 {
    background-color:var(#fff)
  }
  
.value-2, .value-4 {
  background-color: var(--gd-red)
  }
}


.credits {
  background-color: #dfd8ee;
  width: 100%;
  height: 800px;
}

.credit-fill {
  background-color: var(--destore-background-pink);
  padding: 1em;
}


.credit-block {
  li {
    font-size: 1em;
  }

  h3 {
    font-size: 1em;
  }
}