// Base

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  padding: 0;
  margin: 0;
  color: var(--base-txt-color);
  font-family: var(--base-font-family);
  font-weight: 300;
  background: var(--body-bg);
  height: 100vh;
}

// headings ------------
h1,
h2,
h3,
h5,
h6 {
  margin: 0 0 0.5em;
  color: var(--heading-color);
}

h2 {
  font-family: var(--heading-font-family-B);
  font-size: 2rem;
  color: var(--brand-color);
}

// links ---------------
a {
  color: var(--link-color);
}

// app splash screen -------
.app-splash {
  position: fixed;
  background: #fff;
  color: #777;
  display: flex;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  .app-logo {
    width: 180px;
    display: block;
    margin-bottom: 1em;
  }
}

// root ---------------
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  margin-top: 5rem;
}

// page --------------------
.page-content {
  top: var(--app-header-height);
  width: 90%;
  margin: 0 auto;
  &.no-pad {
    padding: 0;
  }
  max-width: 1920px;
}

.image-slider {
  height: 20vh;
  border: 1px solid #000;
}

footer {
  width: 100%;
  background-color: var(--agd-green);
  padding: 1rem;
  max-width: 1920px;
  margin: 0 auto;
  .footer-content {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 90%;
    margin: 0 auto;
    .destore-col {
      width: calc(100% / 3);
    }
    .major-col {
      background: var(--body-bg);
      width: calc(100% / 3 * 2 / 3);
      border-radius: 3px;
    }
    .footer-digex-column,
    .footer-graphic-column,
    .footer-animation-column {
      height: 200px;
      font-family: var(--heading-font-family-B);
      font-size: 1rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      .footer-item {
        min-height: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        transition: 0.2s;
        cursor: pointer;
        width: 90%;
        margin: 0 auto;
      }
    }
    .footer-digex-column {
      .footer-item {
        background: var(--dig-yellow);
        &:hover {
          background: #ceb169;
        }
      }
    }
    .footer-graphic-column {
      .footer-item {
        background: var(--gd-red);
        &:hover {
          background: #c29982;
        }
      }
    }
    .footer-animation-column {
      .footer-item {
        background: var(--agd-green);
        &:hover {
          background: #8eb4a9;
        }
      }
    }
  }
}

// homepage design ============================================================

// banner
button {
  border: 2px var(--brand-color) solid;
  background-color: var(--body-bg);
  color: var(--brand-color);
  margin: 1rem 0 1rem 1rem;
  padding: 0.5rem 5rem;
  text-align: center;
  place-items: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: 0.2s;
}

button:hover {
  cursor: pointer;
  background-color: var(--brand-color);
  color: var(--body-bg);
}

h1 {
  color: var(--brand-color);
  font-size: 3rem;
  margin: 1rem;
}

// top/hero banner
.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  .left {
    width: 50%;
    padding: 1rem;
    h2 {
      padding-left: 1rem;
    }
  }
  .right {
    width: 50%;
    height: 20rem;
    background: #777;
  }
}

// major categories
.major-columns {
  display: flex;
  .animation-column,
  .digex-column,
  .graphic-column {
    height: 200px;
    width: calc(100% / 3);
    font-family: var(--heading-font-family-B);
    font-size: 1rem;
    text-align: center;
    padding: 20px 0 0 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    margin: 1rem;
    text-transform: uppercase;
    .sign-item {
      width: 100%;
      min-height: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
      transition: 0.2s;
      cursor: pointer;
    }
  }
  .digex-column {
    .sign-item {
      background: var(--dig-yellow);
      &:hover {
        background: #ceb169;
      }
    }
  }
  .graphic-column {
    .sign-item {
      background: var(--gd-red);
      &:hover {
        background: #c29982;
      }
    }
  }
  .animation-column {
    .sign-item {
      background: var(--agd-green);
      &:hover {
        background: #8eb4a9;
      }
    }
  }
}

// about us description section
.about-us {
  display: flex;
  width: 100%;
  .left {
    background-color: var(--destore-background-pink);
    height: 25rem;
    width: calc(100% / 3);
  }
  .right {
    width: calc((100% / 3) * 2);
    padding: 1rem;
  }
}

// reviews section
.reviews {
  display: flex;
  .left {
    width: calc(100% / 3);
  }
  .right {
    background-color: var(--gd-red);
    width: calc((100% / 3) * 2);
    padding: 2.5rem 4rem;
    display: flex;
    gap: 20px;
    p {
      font-size: 0.8rem;
    }
    h3 {
      text-transform: uppercase;
      font-size: 1rem;
    }
    h4 {
      font-size: 0.8rem;
      font-weight: 200;
      color: var(--brand-color);
    }
  }
}
