// Base

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  padding: 0;
  margin: 0;
  color: var(--base-txt-color);
  font-family: var(--base-font-family);
  font-weight: 300;
  background: var(--body-bg);
  height: 100vh;
}

// headings ------------
h1,
h2,
h3,
h5,
h6 {
  margin: 0 0 0.5em;
  color: var(--heading-color);
}

h1 {
  font-family: var(--heading-font-family-B);
  color: var(--brand-color);
  font-size: 3rem;
  margin: 1rem;
}

h2 {
  font-family: var(--heading-font-family-B);
  font-size: 2rem;
  color: var(--brand-color);
}

p {
  font-family: var(--base-font-family);
}

// links ---------------
a {
  color: var(--link-color);
  font-family: var(--base-font-family);
}

// root ---------------
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  margin-top: 5rem;
}

button {
  border: 2px var(--brand-color) solid;
  background-color: var(--body-bg);
  color: var(--brand-color);
  margin: 1rem 0;
  padding: 0.5rem 5rem;
  text-align: center;
  place-items: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: 0.2s;
}

button:hover {
  cursor: pointer;
  background-color: var(--brand-color);
  color: var(--body-bg);
}

// page --------------------
.page-content {
  top: var(--app-header-height);
  width: 90%;
  margin: 0 auto;
  &.no-pad {
    padding: 0;
  }
  max-width: 1920px;
}

// universal footer styles
footer {
  width: 100%;
  background-color: var(--agd-green);
  padding: 1rem;
  max-width: 1920px;
  margin: 0 auto;
  .footer-content {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 90%;
    margin: 0 auto;
    .destore-col {
      width: calc(100% / 3);
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3 {
        font-size: 2rem;
        color: var(--brand-color);
        font-family: var(--heading-font-family-B);
      }
    }
    .major-col {
      background: var(--body-bg);
      width: calc(100% / 3 * 2 / 3);
      border-radius: 3px;
    }
    .footer-digex-column,
    .footer-graphic-column,
    .footer-animation-column {
      height: 200px;
      font-family: var(--heading-font-family-B);
      font-size: 1rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      .footer-item {
        min-height: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        transition: 0.2s;
        cursor: pointer;
        width: 90%;
        margin: 0 auto;
      }
    }
    .footer-digex-column {
      .footer-item {
        background: var(--dig-yellow);
        &:hover {
          background: #ceb169;
        }
      }
    }
    .footer-graphic-column {
      .footer-item {
        background: var(--gd-red);
        &:hover {
          background: #c29982;
        }
      }
    }
    .footer-animation-column {
      .footer-item {
        background: var(--agd-green);
        &:hover {
          background: #8eb4a9;
        }
      }
    }
  }
}

// image slider
.image-slider {
  height: 250px;
  width: 100%;
  .slick {
    background-color: #8eb4a9;
    height: 200px;
    width: 150px;
    margin: 1rem;
  }
  .kitten1 {
    background: url("https://images.unsplash.com/photo-1595433707802-6b2626ef1c91?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .kitten2 {
    background: url("https://images.unsplash.com/photo-1560114928-40f1f1eb26a0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1770&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .kitten3 {
    background: url("https://images.unsplash.com/photo-1572590285030-0ae6a4715671?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=774&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .kitten4 {
    background: url("https://images.unsplash.com/photo-1615497001839-b0a0eac3274c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=774&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .kitten5 {
    background: url("https://images.unsplash.com/photo-1606509769472-7660d4a478ac?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=774&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .kitten6 {
    background: url("https://images.unsplash.com/photo-1558674378-e4334d4fecc2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1770&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .kitten7 {
    background: url("https://images.unsplash.com/photo-1574144611937-0df059b5ef3e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=928&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
