// Base

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  padding: 0;
  margin: 0;
  color: var(--base-txt-color);
  font-family: var(--base-font-family);
  font-weight: 300;
  background: var(--body-bg);
  height: 100vh;
}

// headings ------------
h1,
h2,
h3,
h5,
h6 {
  margin: 0 0 0.5em;
  color: var(--heading-color);
}

h1 {
  font-family: var(--heading-font-family-B);
  color: var(--brand-color);
  font-size: 3rem;
  margin: 0rem;
}

h2 {
  font-family: var(--heading-font-family-B);
  font-size: 3rem;
  color: var(--brand-color);
}

p {
  font-family: var(--base-font-family);
  line-height: 1.8;
 
  
}

// links ---------------
a {
  color: var(--link-color);
  font-family: var(--base-font-family);
}

// root ---------------
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  margin-top: 8rem;
  margin-bottom: 8rem;

}

.secondary {
  padding: 0.5rem 3rem;
}

.socials-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
}

a {
  border: none;
  background-color: #3F3F3F;
  color: white;
  margin: 1rem 0;

  // padding: 0.5rem 5rem;
  text-align: center;
 
  place-items: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  cursor: pointer;
  background-color: var(--brand-color);
  color: var(--body-bg);
}

.icon {
  width: 50px;
  min-width: none;
  i {
    padding: 0.5rem;
    font-size: 1.5rem;
  }
}

// page --------------------
.page-content {
  top: var(--app-header-height);
  width: 90%;
  margin: 0 auto;
  &.no-pad {
    padding: 0;
  }
  max-width: 1420px;
}




// universal footer styles
footer {
  display: flex;
  align-items: center;
  height: fit-content;
  width: 100%;
  background-color: var(--agd-green);
  padding: 1rem;
  
  margin: 0 auto;
  .footer-content {
    display: flex;
    align-items: center;
    max-width: 1920px;
    justify-content: space-between;
    gap: 1rem;
    width: 90%;
    margin: 0 auto;
    .destore-col {
      width: calc(100% / 3);
      display: flex;
      flex-direction: column;
      justify-content: center;
      p{
        font-size: 1.2em;
      }
      h3 {
        font-size: 2rem;
        color: var(--brand-color);
        font-family: var(--heading-font-family-B);
      }
    }
    .major-col {
      background: var(--body-bg);
      width: calc(100% / 3 * 2 / 3);
      border-radius: 3px;
    }
    .footer-digex-column,
    .footer-graphic-column,
    .footer-animation-column {
      height: auto;
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-family: var(--heading-font-family-B);
      font-size: calc(0.5vw + 0.5vh + 0.5vmin);
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      .footer-item {
        min-height: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        transition: 0.2s;
        cursor: pointer;
        width: 90%;
        margin: 0 auto;
      }
    }
    .footer-digex-column {
      .footer-item {
        background: var(--dig-yellow);
        &:hover {
          background: #ceb169;
        }
      }
    }
    .footer-graphic-column {
      .footer-item {
        background: var(--gd-red);
        &:hover {
          background: #c29982;
        }
      }
    }
    .footer-animation-column {
      .footer-item {
        background: var(--agd-green);
        &:hover {
          background: #8eb4a9;
        }
      }
    }
  }
}

// 404 page content
.calign {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  button {
    margin: 0 0;
    padding: 0.5rem 0.5rem;
    width: 35%;
    max-width: 100px;
  }
}

// profile styling ---- individual grads
.page-content {
  h2 {
    text-align: start;
    padding-bottom: 3rem;
  }
}
.bioStyle{
  padding-bottom: 3rem;
}

// hiding buttons without href

A[href=""], A[href="#"] {
  display: none;
}

.portfolioItems:hover{
  transform: scale(98%);
  transition: ease-in-out 0.3s;

}

.portfolioItems:not(:hover){
  transform: scale(100%);
  transition: ease-in-out 0.3s;
}

.avatarStyling{
  object-fit: contain;
  max-width: 100%;
  max-height: auto;
}

.avatarStyling:hover{
  opacity: 0;
  transition: ease-in-out 0.3s;
  cursor: default;
  cursor: pointer;
}

.avatarStyling:not(:hover){
  opacity: 1;
  transition: ease-in-out 0.3s;
  cursor: default;
}

.avatarContainer {
  position: relative;
  margin-top: 1vw;
}

.avatarImage {
  position: absolute;
  max-height: 500px;
  
}


.avatarTwo{
  z-index: 2;
}

@keyframes fadeInLoad {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.gridContainer {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr; 
  gap: 8px 8px; 
  grid-template-areas: 
    ". ."
    ". ."
    ". ."
    ". ."; 
  width: 100%; 
  height: 100%; 
}

.gridItem{
  // grid area for item
  background-color: #f6f4ec;
  min-height: 300px;
}

.gridItem::after{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(#fff, 0) 0,
      rgba(#fff, 0.2) 20%,
      rgba(#fff, 0.5) 60%,
      rgba(#fff, 0)
    );
    animation: shimmer 5s infinite;
    content: '';
  }


.portfolioItem{
  // actual portfolio image styling
  width: auto;
height: auto;
max-width: 100%;
max-height: 100%;
max-height: 500px;
max-width: 50vw;
}

// utils for profile page ------
// needs to be removed on mobile media queries
.paddingLeft{
  padding-left: 0em;

  h3 {
    font-size: 2em;
  }
  h1 {
    font-size: 4em;
  }
  p {
    font-size: 1.2em;
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}


// MASONRY GRID FOR PORTFOLIO WORKS ----------------------------

#photos {
  /* Prevent vertical gaps */
  line-height: 2;
  
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         2;
  column-gap:           10px;
}

#photos img {
 /* Just in case there are inline attributes */
 width: 100% !important;
 height: auto !important;
}



// COMING SOON PAGE STYLING

.bgimg {
  /* Background image */
  background-color: #be1e2d;
  /* Full-screen */
  height: 100%;
  /* Center the background image */
  background-position: center;
  /* Scale and zoom in the image */
  background-size: cover;
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
  position: relative;
  /* Add a white text color to all elements inside the .bgimg container */
  color: rgb(63, 19, 19);
  /* Add a font */
  font-family: "Courier New", Courier, monospace;
  /* Set the font-size to 25 pixels */
  font-size: 25px;
}

/* Position text in the top-left corner */
.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

/* Position text in the bottom-left corner */
.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

/* Position text in the middle */
.middle {
  position: absolute;
  top: 300px;
  left: 51%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.comingSoonLogo{
  max-width: 500px;
}

#timing{
  font-size: large;
}

/* Style the <hr> element */
hr {
  margin: auto;
  width: 40%;
}



// footer styling --------------------- 



@media (max-width: 1200px) {
 #photos {
 -moz-column-count:    4;
 -webkit-column-count: 4;
 column-count:         2;
 }
}
@media (max-width: 1000px) {
 #photos {
 -moz-column-count:    3;
 -webkit-column-count: 3;
 column-count:         2;
 }
}
@media (max-width: 800px) {
 #photos {
 -moz-column-count:    2;
 -webkit-column-count: 2;
 column-count:         1;
 }
}
@media (max-width: 400px) {
 #photos {
 -moz-column-count:    1;
 -webkit-column-count: 1;
 column-count:         1;
 }
}





// image slider
.image-slider {
  height: 250px;
  width: 100%;
  .slick {
    background-color: #8eb4a9;
    height: 200px;
    width: 150px;
    margin: 1rem;
  }
  .kitten1 {
    background: url("https://images.unsplash.com/photo-1595433707802-6b2626ef1c91?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .kitten2 {
    background: url("https://images.unsplash.com/photo-1560114928-40f1f1eb26a0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1770&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .kitten3 {
    background: url("https://images.unsplash.com/photo-1572590285030-0ae6a4715671?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=774&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .kitten4 {
    background: url("https://images.unsplash.com/photo-1615497001839-b0a0eac3274c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=774&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .kitten5 {
    background: url("https://images.unsplash.com/photo-1606509769472-7660d4a478ac?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=774&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .kitten6 {
    background: url("https://images.unsplash.com/photo-1558674378-e4334d4fecc2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1770&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .kitten7 {
    background: url("https://images.unsplash.com/photo-1574144611937-0df059b5ef3e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=928&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 768px) {
  .paddingLeft{
    position: relative;
    padding-left: 0em;
    margin-top: 68vw;
  }
  footer {
    width: 100%;
    margin: 0 auto;
    .footer-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      width: 90%;
      margin: 0 auto;
      .destore-col {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3 {
          font-size: 2rem;
          color: var(--brand-color);
          font-family: var(--heading-font-family-B);
        }
      }
      .major-col {
        display: none;
      }
      .footer-digex-column,
      .footer-graphic-column,
      .footer-animation-column {
        height: 200px;
        font-family: var(--heading-font-family-B);
        font-size: 1rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        .footer-item {
          min-height: 2rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border-radius: 3px;
          transition: 0.2s;
          cursor: pointer;
          width: 90%;
          margin: 0 auto;
        }
      }
      .footer-digex-column {
        .footer-item {
          background: var(--dig-yellow);
          &:hover {
            background: #ceb169;
          }
        }
      }
      .footer-graphic-column {
        .footer-item {
          background: var(--gd-red);
          &:hover {
            background: #c29982;
          }
        }
      }
      .footer-animation-column {
        .footer-item {
          background: var(--agd-green);
          &:hover {
            background: #8eb4a9;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .paddingLeft{
    
    margin-top: 95vw;

    h1 {
      font-size: 2.6em;
    }
  }
}


