// homepage design ============================================================

// top/hero banner
.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  .left {
    width: 50%;
    padding: 1rem;

    h2 {
      font-size: 2.5em;
    }
  }
  .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .gradVideoHolder {
      transition: all .3s smooth;
      border-radius: 3px 3px 0 0;
      overflow: hidden;
    }
    .videoTriggerHolder {
      width: 80%;
      display: flex;
      justify-content: space-between;
      background-color: var(--agd-green);
      font-family: var(--heading-font-family-B);
      transition: all .3s smooth;
      border-radius: 0 0 3px 3px;
      overflow: hidden;
      .videoTriggerButtonLeft, .videoTriggerButtonRight, .videoTriggerDiv {
        cursor: pointer;
        width: fit-content;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: .5em;
        padding-bottom: .5em;
        text-align: center;
      }
    }
  }
}

.learn {
  border: 2px var(--brand-color) solid;
  background-color: var(--body-bg);
  color: var(--brand-color);
  margin: 1rem 0;
  padding: 1rem 2rem;
  text-align: center;
  place-items: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-decoration: none;
  transition: 0.2s;

  &:hover {
    cursor: pointer;
    background-color: var(--brand-color);
    color: var(--body-bg);
  }
}

.shop-graduates-btn {
  border: 2px var(--brand-color) solid;
  background-color: var(--body-bg);
  color: var(--brand-color);
  margin: 1rem 0;
  padding: 1rem 5rem;
  text-align: center;
  place-items: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-decoration: none;
  transition: 0.2s;

  &:hover {
    cursor: pointer;
    background-color: var(--brand-color);
    color: var(--body-bg);
  }
}

// major categories
.major-columns {
  display: flex;
  justify-content: space-between;
  .animation-column,
  .digex-column,
  .graphic-column {
    height: auto;
    width: calc(100% / 3);
    max-width: 30rem;
    font-family: var(--heading-font-family-B);
    font-size: 1rem;
    text-align: center;
    padding: 20px 0 0 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem;
    text-transform: uppercase;
    background-color: #fffef9;
    padding: 2rem;
    border-radius: 3px;
    .major-svg {
      height: auto;
      width: 30%;
      align-self: center;
    }
    // This fill bit isn't working yet. Need to troubleshoot why not.
    // Only trying to change the fill so that they are 100% spot on the colours.
    .agd-svg {
      fill: var(--agd-green);
    }
    .dd-svg {
      fill: var(--dig-yellow);
    }
    .gd-svg {
      fill: var(--gd-red);
    }
    .sign-item {
      width: 90%;
      min-height: 3rem;
      padding: 0.8em;
      margin-top: 0.5em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
      transition: 0.2s;
      cursor: pointer;
      font-size: calc(0.5vw + 0.5vh + 0.5vmin);

      h3 {
        margin: 0;
      }
    }
  }
  .digex-column {
    .sign-item {
      background: var(--dig-yellow);
      &:hover {
        background: #ceb169;
      }
    }
  }
  .graphic-column {
    .sign-item {
      background: var(--gd-red);
      &:hover {
        background: #c29982;
      }
    }
  }
  .animation-column {
    .sign-item {
      background: var(--agd-green);
      &:hover {
        background: #8eb4a9;
      }
    }
  }
}

// about us description section
.about-us {
  display: flex;
  width: 100%;
  .left {
    background-color: var(--destore-background-pink);
    height: auto;
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      height: auto;
      max-height: 35rem;
      max-width: 35rem;
    }
  }
  .right {
    width: calc((100% / 3) * 2);
    padding: 1rem;
    align-self: center;
    margin-left: 2vw;

    h2 {
      padding-bottom: 0rem;
      font-size: 2.5em;
    }

    p {
      font-size: 1.1em;
    }
  }
}

// reviews section
.reviews {
  display: flex;
  margin-top: unset;
  .left {
    width: calc(100% / 3);
    align-self: flex-start;
    word-wrap: break-word;
    h2 {
      font-size: 2.5em;
    }
  }
  .right {
    background-color: var(--gd-red);
    width: calc((100% / 3) * 2);
    padding: 2.5rem 4rem;
    display: flex;
    gap: 20px;
    p {
      font-size: 1.1rem;
    }
    h3 {
      text-transform: uppercase;
      font-size: 1.7rem;
    }
    h4 {
      font-size: 1rem;
      font-weight: 200;
      min-height: 3vh;
      color: var(--brand-color);
    }

    button {
      margin: 1rem 0;
      padding: 1rem 5rem;
      text-align: center;
      place-items: center;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      text-decoration: none;
      transition: 0.2s;
    }
  }
}

.image-slider {
  .slick {
    width: 15rem;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .left {
      width: 100%;
      padding: 2rem 0rem;
      display: block;
      h2 {
        width: 100%;
      }
      button {
        margin: 0 0;
        padding: 1rem 0.5rem;
        width: 60%;
      }
    }
    .right {
      width: 100%;
      margin-top: 6em;
      .videoTriggerHolder {
        width: 100%;
      }
    }
  }

  section {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .major-columns {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .animation-column,
    .digex-column,
    .graphic-column {
      padding: 0 0 0 0;
      padding: 1rem;
      .major-svg {
        width: 40%;
      }
      .agd-svg {
        fill: var(--agd-green);
      }
      .dd-svg {
        fill: var(--dig-yellow);
      }
      .gd-svg {
        fill: var(--gd-red);
      }
    }
  }

  .major-columns .animation-column,
  .major-columns .digex-column,
  .major-columns .graphic-column {
    width: calc(100% / 1);
  }
  .about-us {
    flex-direction: column;
    .left {
      background-color: var(--body-bg);
      height: auto;
      width: 100%;
      img {
        width: 75%;
        height: auto;
      }
    }
    .right {
      width: 100%;

      button {
        margin: 0 0;
        padding: 0.5rem 0.5rem;
        width: 60%;
      }
    }
  }
  .reviews {
    margin-top: 5rem;
    width: 100%;
    flex-direction: column;
    .left {
      width: 100%;
    }
    .right {
      width: 100%;
      flex-direction: column;
      .quote-one,
      .quote-two,
      .quote-three {
        width: 100%;
      }
    }
  }
  .image-slider {
    .slick {
      width: 10rem;
    }
  }
}
