// I have used flexbox to structure the pages out. I have tried to make the classes as reusable as possible so that I could apply them to multiple pages.
// Where it has numbers in the class name it is referring to the percentage of the width each column is taking up.
// eg. 50-50 means two equal columns, 33-66 means two columns the first being 33% and the second 66%.
// For now the heights of each sections are just guesses and can change.
// Obviously the borders are just there to help see the content blocks. They can be removed once more content gets put in :)

.height-1 {
  height: 40vh;
}

.height-2 {
  height: 20vh;
}

.block-50-50 {
  display: flex;
  flex-direction: row;
  border: 1px solid #000;
  .column {
    width: 50%;
    border: 1px solid #000;
  }
}

.block-33-33-33 {
  display: flex;
  flex-direction: row;
  border: 1px solid #000;
  .subject {
    height: 100%;
    width: 33.33%;
    border: 1px solid #000;
  }
}

.block-33-66 {
  display: flex;
  flex-direction: row;
  border: 1px solid #000;
  .column-1 {
    width: 33.3%;
    border: 1px solid #000;
  }
  .column-2 {
    width: 66.6%;
    border: 1px solid #000;
  }
  .reviews {
    display: flex;
    flex-direction: row;
    .review {
      width: 33.3%;
      height: 100%;
      border: 1px solid #000;
    }
  }
}

.block-25-25-25-25 {
  display: flex;
  border: 1px solid #000;
  .column {
    width: 25%;
    border: 1px solid #000;
  }
}

.block-100 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border: 1px solid #000;
}

.credit-block {
  width: 300px;
  border: 1px solid #000;
}
