// Vars

:root {
  // base =====================================================================================
  --base-txt-color: #222;
  --heading-color: #333;
  --heading-font-family-A: "MilkmanRegular";
  --heading-font-family-B: "Monospec-Bold";
  --base-font-family: "Proxima Nova Regular", serif;
  --body-bg: #ffffff;

  // colors ===================================================================================
  $brand-color: #e93b2c;
  --brand-color: #{$brand-color};
  --link-color: --brand-color;

  --destore-red-alt: #be1e2d;
  --destore-logo-blue: #1540b4;
  --destore-logo-blue-alt: #253764;

  --destore-background-pink: #f5e3ea;

  // major brand colors
  --agd-green: #afcbc3;
  --gd-red: #d6b6a4;
  --dig-yellow: #fade95;

  // app header
  --app-header-height: 60px;
  --app-header-txt-color: #fff;
  --app-header-title-font-size: 1.6em;

  // shoelace tokens
  // full list here:
  // https://github.com/shoelace-style/shoelace/blob/current/src/styles/base.scss
  --sl-color-primary-50: #f4f4f4;
  --sl-color-primary-100: #{lighten($brand-color, 40%)};
  --sl-color-primary-200: #{lighten($brand-color, 30%)};
  --sl-color-primary-300: #{lighten($brand-color, 20%)};
  --sl-color-primary-400: #{lighten($brand-color, 10%)};
  --sl-color-primary-500: #{$brand-color};
  --sl-color-primary-600: #{darken($brand-color, 10%)};
  --sl-color-primary-700: #{darken($brand-color, 20%)};
  --sl-color-primary-800: #{darken($brand-color, 30%)};
  --sl-color-primary-900: #{darken($brand-color, 40%)};
  --sl-focus-ring-color-primary: #{rgba($brand-color, 0.1)};
}
