@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,500;1,100;1,200;1,500&display=swap");
:root {
  --base-txt-color: #222;
  --heading-color: #333;
  --base-font-family: 'Work Sans', sans-serif;
  --body-bg: #fff;
  --brand-color: #aa1a6c;
  --link-color: --brand-color;
  --app-header-height: 60px;
  --app-header-txt-color: #fff;
  --app-header-title-font-size: 1.6em;
  --sl-color-primary-50: #f4f4f4;
  --sl-color-primary-100: #f0a0ce;
  --sl-color-primary-200: #ea73b7;
  --sl-color-primary-300: #e347a0;
  --sl-color-primary-400: #d62188;
  --sl-color-primary-500: #aa1a6c;
  --sl-color-primary-600: #7e1350;
  --sl-color-primary-700: #520c34;
  --sl-color-primary-800: #250618;
  --sl-color-primary-900: black;
  --sl-focus-ring-color-primary: rgba(170, 26, 108, 0.1);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  padding: 0;
  margin: 0;
  color: var(--base-txt-color);
  font-family: var(--base-font-family);
  font-weight: 300;
  background: var(--body-bg);
  height: 100vh;
}

h1, h2, h3, h5, h6 {
  margin: 0 0 .5em;
  color: var(--heading-color);
}

a {
  color: var(--link-color);
}

.app-splash {
  position: fixed;
  background: #fff;
  color: #777;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.app-splash .app-logo {
  width: 180px;
  display: block;
  margin-bottom: 1em;
}

.calign {
  text-align: center;
}

.large-text {
  font-size: 1.6em;
}

.brand-color {
  color: var(--brand-color);
}

.generic-entry {
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  margin-bottom: .5em;
  padding: 1em;
  background: #fff;
}

#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.page-content {
  position: absolute;
  top: var(--app-header-height);
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  padding: 1em;
}

.page-content.no-pad {
  padding: 0;
}

.page-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signinup-box,
.signup-box {
  max-width: 320px;
  text-align: center;
}

.signinup-logo {
  width: 200px;
  margin-bottom: 1em;
}

.guide-step {
  padding: 1em;
  margin: 1.5em auto;
  max-width: 600px;
}

.guide-step img {
  width: 100%;
  height: auto;
}

.haircuts-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.haircuts-grid .haircut-card {
  width: calc(33.3% - 1em);
  margin: 0.5em;
}

.haircut-dialog {
  --width: 70%;
}

.haircut-dialog::part(body) {
  margin-top: -4em;
}

@media all and (max-width: 768px) {
  .signinup-box {
    width: 90%;
    max-width: none;
  }
}

.input-group {
  margin-bottom: .5em;
}

.page-form {
  max-width: 700px;
}

sl-dialog::part(title) {
  font-weight: 500;
  font-size: 1.6em;
}

@media all and (max-width: 768px) {
  sl-dialog::part(panel) {
    width: 100%;
    height: 100%;
    max-height: none;
    max-width: none;
  }
}

#toasts {
  position: fixed;
  left: 50%;
  top: 1em;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.toast-entry {
  background: #fff;
  margin: 0 auto;
  color: #333;
  border-radius: 200px;
  -webkit-box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.14);
  padding: .7em 1.3em;
  font-size: 1em;
  margin-bottom: .25em;
  text-align: center;
  -webkit-transition: all .2 ease;
  transition: all .2 ease;
}

.toast-entry.is-error {
  background: #d4195d;
  color: #fff;
}
/*# sourceMappingURL=master.css.map */